.App,
button {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  cursor: pointer;
}

.movie-card {
  display: flex;
  position: relative;
  flex-grow: 1;
  background-color: rgb(152, 197, 197);
  color: rgb(15, 59, 59);
  border-radius: 12px;
  margin: 12px 24px 12px 0;
  max-width: 300px;
  min-width: 300px;
  overflow: hidden;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.movie-list {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-top: 12px;
}

@media only screen and (min-width: 1024) {
  nav,
  .movie-list {
    width: 80%;
  }
}

.movie-img {
  opacity: 0.9;
  margin-bottom: -8px;
  margin-left: -4px;
  width: 160px;
  position: relative;
}

.movie-img img {
  height: 100%;
  position: absolute;
}

.movie-info {
  padding: 0 4px;
  background-color: rgb(152, 197, 197);
  z-index: 1;
  width: 50%;
}

.movie-info h3,
.movie-info h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.movie-info a {
  text-decoration: none;
}

.movie-info a:hover {
  opacity: 0.5;
}

.rating-box {
  position: relative;
  width: fit-content;
  max-width: 100%;
}

.rating-mask {
  position: absolute;
  background-color: rgb(152, 197, 197);
  height: 100%;
  right: 0;
  top: 0;
}

.heart {
  position: absolute;
  bottom: 8px;
  right: 12px;
}

nav {
  margin: 12px auto;
  width: 90%;
}

button {
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: rgb(152, 197, 197);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-right: 24px;
}

button.pressed {
  opacity: 0.75;
}

nav input {
  margin-top: 24px;
  width: 50%;
  padding-left: 12px;
}

button,
nav input {
  height: 36px;
  font-size: 16px;
}

.error {
  color: red;
}

.load-more-container {
  width: 100%;
  text-align: center;
  margin: 24px;
}
